/*====== s - menu =======*/
.mod_nav_outer,.mod_page_scroll{white-space:nowrap;display: inline-block;}
		.mod_nav{
			overflow:hidden;
			position:absolute;
			padding-top:1px;
			width:100%;
			background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(22,22,22,1)), color-stop(100%,rgba(0,0,0,1)));
		}
			.mod_nav:before{
				position:absolute; content:"";
				left:50%;
				top:0;
				margin-left:-40px;
				width:80px;
				height:45px;
				background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(0,0,0,0)));
			}
			.mod_nav:after{
				position:absolute; content:"";
				left:50%; bottom:0;
				width:0; height:0;
				margin-left:-6px;
				border-width:6px;
				border-color:transparent transparent #D9D9D9 transparent;
				border-style:dashed dashed solid dashed;
				font-size:0;
			}
			.mod_nav_inner{float:left; width:800px}
			.mod_nav_inner a{float:left; position:relative; width:80px; height:44px; font-weight:bold; line-height:44px; color:#9DA0A5; text-align:center; -webkit-transition:font-size 200ms ease-in-out;}
			.mod_nav_inner a.on{
				font-size:18px;
				color:#FFF;
			}

			.mod_nav_inner a.on:after{display:none;}
/*====== e - menu =======*/

.demo{width: 100%;margin:20px auto;}
.demo_hd{margin-bottom: 10px;color: #333;padding-bottom: 5px;font-size: 48px;font-weight: 500;border-bottom: 4px solid #e3e3e3;}
.demo_bd{padding: 10px 0;}
.demo_item{margin-bottom: 40px;}
.demo_item_hd{font-size: 24px;height: 30px;line-height: 30px;margin-bottom: 5px;padding: 0 10px;}
.demo_item_bd{padding: 0 10px;}
.demo_item_bd .row{margin-bottom: 10px;}
.demo_item_bd .row h3{font-size: 14px;margin-bottom: 5px;}
.mod_topbar,.mod_bar,.mod_nav{position: relative;}
.test{display: block;height: 28px;background: #f6f6f6;font-size: 16px;line-height: 28px;border:1px solid #ccc;}
.test:hover{background: #f00;}
.demo_item_bd .current span{display: inline-block;}