@charset "utf-8";

/*===== 重置样式 =====*/
*{
	margin:0;
	padding:0;
	border:0 none;
	background:transparent;
	vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}

body{
	-webkit-text-size-adjust:none;
	-webkit-user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-touch-callout:none;
	word-break:break-word;
	color:#666;
	max-width: 1024px;
	min-width: 320px;
	margin:0 auto;
}

body,input,button,select,textarea,table{
	font:14px/1.5 Helvetica,Arial,sans-serif;
}

li{list-style:none;}

input,select,textarea{
	-webkit-user-select:auto;
	-webkit-appearance:none;
}

a{
	color:#666;
	text-decoration:none;
}
	

	h1{font-size:20px;}
	h2,h3,h4,h5,h6{font-size:14px;}
	.c_tx1{color:#FF0000;}


	/*===== 公共类 =====*/
	.ui_active{display:block!important;}
	.ui_page_current{display:block!important;}

	.ui_page{
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		-webkit-transition-property: -webkit-transform;
		-webkit-transform-origin-x: 0;
		-webkit-transform-origin-y: 0;
		-webkit-transition-duration: 0ms;
		-webkit-transform: translate3d(0,0,0);
		-webkit-backface-visibility: hidden;
	}

	/*===== 头部 =====*/
	.ui_hd{
		overflow:hidden;
		position:absolute;
		left:0px;
		top:0px;
		width:100%;
		height:44px;
		line-height:44px;
		text-align:center;
		background:#1d7ad9;
	}
		.ui_hd h1{color:#FFF;}

	.ui_bd{
		overflow:auto;
		position:absolute;
		left:0;
		top:44px;
		bottom:0px;
		width:100%;
		-webkit-overflow-scrolling:touch;
	}

	.ui_loading_img{padding:1px 9px;border-radius: 50%;background-color: #fff;}


	/*===== 组件 =====*/
		/*===== 轮播 =====*/
		.mod_carousel{
			overflow:hidden;
			position:relative;
			margin:auto;
		}
		.mod_carousel_photo{
			width:960px;
			height: 150px;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			-webkit-transform: translateZ(0);
			-moz-transform: translateZ(0);
			-ms-transform: translateZ(0);
			-o-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			-webkit-text-size-adjust: none;
			-moz-text-size-adjust: none;
			-ms-text-size-adjust: none;
			-o-text-size-adjust: none;
			text-size-adjust: none;
		}
		.mod_carousel_photo .mod_carousel_slide{display: inline;float:left;}
		.mod_carousel_photo img{
			max-width:320px;
		}
		.mod_carousel_control{position:absolute; left:0; right:0; bottom:0; background-color:rgba(0,0,0,0.5); text-align:center;}
		.mod_carousel_dots,.mod_carousel_dotbg{
			position: relative;
			z-index: 2;
			width: 56px;
			height: 16px;
			margin: 0px auto;
			overflow: hidden;
		}
		.mod_carousel_dotbg{
			position: absolute;
			z-index: 1;
			top:0;
			left:50%;
			margin-left:-28px;
		}
		.mod_carousel_dotbg_inner{width:60px;height:16px;}
		.mod_carousel_dotbg_inner i{
			display: inline-block;
			float:left;
			margin-right: 4px;
			width: 16px;
			height: 16px;
			border-radius: 8px;
			background: #eee;
		}
		.mod_carousel_dot{
			position: absolute;
			width: 16px;
			height: 16px;
			border-radius: 8px;
			background: #1d7ad9;
		}
		.mod_carousel_control span{overflow:hidden; display:inline-block; margin:0 2px; width:8px; height:8px; border-radius:4px; background-color:#000; line-height:200px;}
		.mod_carousel_control span.current{background-color:#E72020;}


		/*===== 列表 =====*/
		.mod_list_item{display:block; position:relative; padding:10px; border-top:1px solid #F7F7F7; border-bottom:1px solid #CCC;}
			.mod_list_item:first-child{border-top:none;}
			.mod_list_item:last-child{border-bottom:none;}
			.mod_list_item:after{content:" "; position:absolute; right:10px; top:50%; margin-top:-4px; width:4px; height:8px; background:url("../img/ico_arrow.png") no-repeat 0 0;}
			.mod_list_info{font-size:12px;}
			.mod_list_info p{margin-top:5px;}
			
			/*===== 图文 =====*/
			.mod_photo .mod_list_item{padding-left:80px;}
			.mod_photo .mod_list_photo{position:absolute; left:10px; top:10px;}
			.mod_photo .mod_list_photo img{display:block;}

		/*===== 按钮 =====*/
		.b_nav,
		.b_buylist,
		.b_search,
		.b_back{overflow:hidden; width:30px; height:30px; background-color:#CCC; line-height:300px;}
		.b_nav,
		.b_back{position:absolute; left:10px; top:7px;}
		.b_buylist,
		.b_search{position:absolute; right:10px; top:7px;}
		.b_back{
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAABT5JREFUeNrMmk1sVUUUx3/voxZsKyCJIgVqv6wujIREK2riBxVEKbIEYgSriR9UjSuJS6kGowvRFS5ITANRigtduSERjBGIhQBqJJXKhwlSqrXFFh8tfS76v2aczn3v3vfuvfUkk/veuzNnzplz5sw5/3kpoqM00AC0AE3ArcCNQDVwDRgDhoCzQB/wE3BG72ac0sC9wNvAIWAEyAdswxqzHVgOpGZCgVnABuArrWi+zHZNvDaKdyL0JHAkAuH92mFgXVihwphzIfAO8FSBPueBY8AJ4BdgALgsAWuAm4F6YClwF7C4AK/dwFbg1yit8LA2qGsFLwG7gMeB+SF4zteYXcCgD+8+YEVUSmxWxLEnGQTeBJZEMEcd0AX87pjnCtBR7gQv+6zUJwqzUVMLsNdnzs5SmT7tiEh/Ac8nEFBe0lx2ZNscltFDDnf6Lai/5vN5ZwtJK4GLlgxjYfbMQuC0xeAi0FqK8GUqtVyRz5TlNFAbZPBuhzutiFKJkEo9CoxaMu0pNqjdsclejEuBEMp0OuRqL5R29Fqd98ZpiZDK9FiyHfVLZ9ZbHf8AmpNSIoAyDY6Dc73dKQN8bXXalqQCAa2yzZLxoGT/l+4BJqxTe1EJKX3ctNiyyjhwtzn5Okuzz0MkaxmgUXH/lpjrivOSzaMssNYU5LBlsscCMq5WQnkAuAC8AFwXs1VWWbJ+6xmhyarszgHzArhRrULzWY3LAR8Cs2NWZJ5k9OQdARqzStRqjI7HVFsXUqIZeBXYBFyv3yeVqU7GrMiQZPRqmRqgJS2LmHS8AJMq4AFgh5JHU4lJWSUJMOGE9b05q1rApDM+leQCYDXwhja3SeNSxMuW46Z+u57JOqq6AYcSjcAW4Dlt8GnHi9osKYw2fV57JqN3GeMdQIU+Z/XMGNGoUuMnJfhJ7QdUlf5n33gDTBq2lGgG3gOeKHBWVIjPa6olUg5MIOXzdGEHKWuRLqh+75Fil63+s7NF4n4KuE9nRLrIWeKtdBzhd4lS+s+kiO2+qSzwt/VjjbUa/TpnlmlzuxSakDI5NYzolbf4mc+Uo1/eGnMV+F4J7IRDRoArWUeoXWBN3Kscp0OHUZXDHYe04T8APooocuUNb7lqLfhN9vxZ4U8m1VvfR3VyD6jcXa0YXmVZJCcUZDiBs6TBjrRpYUcm3ekYOC7z7gDeF9I4Yqx8Wn1yCaGdtox9ngWGrRRlbgEmNUAb8LHCYE5KnRIeHHcWPFfJowmG13kx+1DIpLFCq/KuwIAxXRO0J4Cq20njN0A6I39uBu43OueALwowm1Rd8IM2ekppw5eOwypq2qoI6lE3sN/70iofNwur2oCMq4Db5KJxXwnUaqGmFVbmgXbQMllXSFQ/iYuat4qVun7gQ1PS4EOBur1JMpkybvSDg76zOu77Hymyz5Ktt5ArrwmKgiesxBaHXGuK+eEea8CoYMuZAujaHJBpd5ANtUiJojlwQNmnr5uZigVVMgC1OkDsfgHtgahN9beNyK8iOWpTbmdfKzwSllEH0y96Rinj5igE+V30bCqVYadRyJith3iu3m4HPsV99fZKucyfxX0Zekl1Sl1EFWAX7tvdMeCZKP31Z5+VGgB2MnUZNCcEzzmKhjuZfsXmtVPAg0FTizAA8na/01R0TuDZSWXFgwZQUK3KrkGZ89Ii1uwGXhfwEAvF/ReOI5ojEaqUZQ5YWXOpbZypP9VscOABRO1afrRM6cJKucwNAccNywX3q/Y5Wo4QUafeDcAdQibrmfrjWaWB1v8psKMP+NEHni2J/hkAPVa9t7f7yhsAAAAASUVORK5CYII=) no-repeat;
			background-size:30px 30px; 
		}

		/*===== 背景 =====*/
		.bg1{
			background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(240,239,239)), color-stop(100%,rgb(204,204,204))); /* Chrome,Safari4+ */
			background:-webkit-linear-gradient(top, rgb(240,239,239) 0%,rgb(204,204,204) 100%); /* Chrome10+,Safari5.1+ */
			background:-o-linear-gradient(top, rgb(240,239,239) 0%,rgb(204,204,204) 100%); /* Opera 11.10+ */
			background:-ms-linear-gradient(top, rgb(240,239,239) 0%,rgb(204,204,204) 100%); /* IE10+ */
			background:linear-gradient(top, rgb(240,239,239) 0%,rgb(204,204,204) 100%); /* W3C */
		}


		/*===== 价格 =====*/
			.mod_price{font-family:"tahoma"; font-size:14px;}
			.mod_price span{margin-right:15px;}

		/*===== 颜色 =====*/
			.mod_color{display:inline-block; margin-right:10px; padding:5px; border:2px solid #CCC; font-size:12px;}

	
		/*===== 搜索 =====*/
			.mod_search_form input,
			.mod_search_form button{position:absolute; top:5px; border:1px solid #CCC; font-size:12px;}
			.mod_search_form input{left:5px; right:70px; padding:0 3px; height:31px; background-color:#FFF;}
			.mod_search_form button{right:5px; width:60px; height:33px; border-radius:1px; line-height:33px;}
			.mod_search_list a{display:block; padding:8px 10px; border-bottom:1px solid #CCC;}

		/*===== 星星 =====*/
			.mod_star{display:inline-block; width:113px; height:21px; background:url("../img/ico_star.png") no-repeat 0-23px;}
			.mod_star i{display:block; height:21px; background:url("../img/ico_star.png") no-repeat 0 0;}
	
	
	/*===== 首页 sy =====*/
			.sy_carousel img{display:block; height:150px;}

			/*===== 客服热线 =====*/
			.sy_tel{
				overflow:hidden;
				margin-bottom:10px;
				height:40px;
				line-height:40px;
				text-align:center;
			}


			/*===== 导航 =====*/
			.sy_nav a{display:inline-block; width:33%; height:80px; text-align:center;}
			.sy_nav a:nth-child(3n-1){width:34%;}
			.sy_nav i{display:block; margin:10px auto; width:32px; height:32px;}
			.sy_nav .ico_search{background:url("../img/ico_search.png") no-repeat 50% 50%;}
			.sy_nav .ico_browser{background:url("../img/ico_browser.png") no-repeat 50% 50%;}
			.sy_nav .ico_fav{background:url("../img/ico_fav.png") no-repeat 50% 50%;}
			.sy_nav .ico_account{background:url("../img/ico_account.png") no-repeat 50% 50%;}
			.sy_nav .ico_about{background:url("../img/ico_about.png") no-repeat 50% 50%;}



	/*===== 浏览 sb =====*/
		.sb_list .mod_list_item{min-height:60px;}
		.sb_list .mod_list_photo img{display:block; width:60px; height:60px;}


	/*===== 产品 sh =====*/
		.sh_list .mod_list_item{min-height:60px;}
		.sh_list .mod_list_photo img{display:block; width:60px; height:60px;}


	/*===== 详情 sd =====*/
		.sd_carousel img{display:block; height:100px;}
		
		.sd_title{padding:10px;}
		.sd_title h3{margin-bottom:5px;}

		.sd_property{padding:10px; font-size:12px;}
		.sd_property li{margin:10px 0;}
		.sd_property select,
		.sd_property input{padding:5px; border:1px solid #CCC;}
		.sd_property input{width:100px;}