*, ::after, ::before {
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
}
::-webkit-input-placeholder {
	color: #E0E0E0;
}
input, textarea{
	-webkit-user-select: text;
	outline:none;
}
html{-webkit-text-size-adjust:none;overflow:hidden;}
html,body{display: block;height:100%;}
.ui_app,.ui_app_bd{
	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.ui_app_bd{
	position:relative;
}

.ui_mask{
	position:absolute;
	width:100%;
	top:0;
	bottom:0;
    background-color: #fff;
	-webkit-backface-visibility:hidden;
}
.ui_mask_bd{
	position:absolute;
	left:0;
	top:44px;
	bottom:0px;
	width:100%;
    text-align: center;
}
.ui_mask_bd img{position:absolute;top:50%;left:50%;margin-left:-18px;margin-top:-20px;vertical-align: middle;display: inline-block;}
.ui_mask_bd h3{margin-top:40%;text-align:center;}

.supports3d{-webkit-perspective: 1000;}
.supports3d .ui_page,.supports3d .ui_section,.supports3d .ui_aside,.supports3d .ui_popup,.supports3d .ui_mask{
    -webkit-transform: translate3d(0, 0, 0) rotate(0) scale(1);
}

.ui_page,.ui_section,.ui_aside,.ui_popup,.ui_mask{display: block;}

.current{
    z-index: 10;
}

.ui_page:not(.current):not(.inmotion),
.ui_section:not(.current):not(.inmotion),
.ui_aside:not(.current):not(.inmotion),
.ui_popup:not(.current):not(.inmotion),
.ui_mask:not(.current):not(.inmotion) {
    display: none!important;
}
