.in, .out, .inmotion {
    -webkit-animation-duration: 350ms;
    -webkit-animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;/*cubic-bezier(.645,.045,.355,1);ease-in-out*/;
}
.in:after,.out:after,.inmotion:after{content:"";position:absolute;display:block;top:0;left:0;bottom:0;right:0}
.in,.back-out {
    z-index: 10;
}
.out {
    z-index: 0 !important;
}
/* Fade */

.fade.in {
    -webkit-animation-name: fadeIn;
}

.fade.out {
    z-index: 10;
    -webkit-animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    } 
    100% {
        opacity: 0;
    }
}



/* Disolve */

.dissolve.in {
    -webkit-animation-name: dissolveIn;
}

.dissolve.out {
    -webkit-animation-name: dissolveOut;
}

@-webkit-keyframes dissolveIn {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes dissolveOut {
    5% {
        opacity: 1;
    } 
    100% {
        opacity: 0;
    }
}



/* #Popin' */

.pop.in {
    -webkit-animation-name: popIn;
}

.pop.out {
    -webkit-animation-name: popOut;
}

@-webkit-keyframes popIn {
    0% {
        opacity: 0;
    }
    5% {
        -webkit-transform: scale(.2);
        opacity: 0;
    } 
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes popOut {
    5% {
        -webkit-transform: scale(1);
        opacity: 1;
    } 
    100% {
        -webkit-transform: scale(.2);
        opacity: 0;
    }
}



/* Slide Left */

.slideleft.in {
    -webkit-animation-name: slideLeftIn;
}

.slideleft.out {
    -webkit-animation-name: slideLeftOut;
}

@-webkit-keyframes slideLeftIn {
    0% {
        -webkit-transform: translateX(90%);
    } 
    100% {
        -webkit-transform: translateX(0);
    }
}

@-webkit-keyframes slideLeftOut {
    0% {
        -webkit-transform: translateX(-10%);
    } 
    100% {
        -webkit-transform: translateX(-100%);
    }
}



/* Slide Right */

.slideright.in {
    -webkit-animation-name: slideRightIn;
}

.slideright.out {
    -webkit-animation-name: slideRightOut;
}

@-webkit-keyframes slideRightIn {
    0% {
        -webkit-transform: translateX(-90%);
    } 
    100% {
        -webkit-transform: translateX(0);
    }
}

@-webkit-keyframes slideRightOut {
    0% {
        -webkit-transform: translateX(10%);
    } 
    100% {
        -webkit-transform: translateX(100%);
    }
}


/* Slide Up */

.slideup.in {
    -webkit-animation-name: slideUpIn;
}
.slideup.out {
    -webkit-animation-name: slideUpOut;
}

@-webkit-keyframes slideUpIn {
    20% {
        -webkit-transform: translateY(80%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}

@-webkit-keyframes slideUpOut {
    20% {
        -webkit-transform: translateY(-20%);
    } 
    100% {
        -webkit-transform: translateY(-100%);
    }
}



/* Slide Down */

.slidedown.in {
    -webkit-animation-name: slideDownIn;
}
.slidedown.out {
    -webkit-animation-name: slideDownOut;
}

@-webkit-keyframes slideDownIn {
    0% {
        -webkit-transform: translateY(-80%);
    } 
    100% {
        -webkit-transform: translateY(0%);
    }
}

@-webkit-keyframes slideDownOut {
    0% {
        -webkit-transform: translateY(20%);
    } 
    100% {
        -webkit-transform: translateY(100%);
    }
}

/* Flip Left */

.flipleft {
    -webkit-backface-visibility: hidden;
}

.flipleft.in {
    -webkit-animation-name: flipLeftIn;
}

.flipleft.out {
    -webkit-animation-name: flipLeftOut;
}

@-webkit-keyframes flipLeftIn {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
        -webkit-transform: rotateY(180deg) scale(.8);
    } 
    100% {
        -webkit-transform: rotateY(0deg) scale(1);
    }
}

@-webkit-keyframes flipLeftOut {
    5% {
        -webkit-transform: rotateY(0deg) scale(1);
    } 
    100% {
        -webkit-transform: rotateY(-180deg) scale(.8);
    }
}



/* Flip Right */

.flipright {
    -webkit-backface-visibility: hidden;
}

.flipright.in {
    -webkit-animation-name: flipRightIn;
}

.flipright.out {
    -webkit-animation-name: flipRightOut;
}

@-webkit-keyframes flipRightIn {
    0% {
        opacity: 0;
    }
    5% {
        -webkit-transform: rotateY(-180deg) scale(.8);
    } 
    100% {
        -webkit-transform: rotateY(0deg) scale(1);
    }
}

@-webkit-keyframes flipRightOut {
    5% {
        -webkit-transform: rotateY(0deg) scale(1);
    } 
    100% {
        -webkit-transform: rotateY(180deg) scale(.8);
    }
}



/* Swap Right */

.swapright {
    -webkit-animation-duration: .7s;
    -webkit-transform: perspective(800);
    -webkit-animation-timing-function: ease-out;
}
.swapright.in {
    -webkit-animation-name: swapRightIn;
}
.swapright.out {
    -webkit-animation-name: swapRightOut;
}

@-webkit-keyframes swapRightIn {
    0% {
        opacity: 0;
    }
    5% {
        -webkit-transform: translate3d(0px, 0px, -800px) rotateY(70deg);
        opacity: 0;
    }
    35% {
        -webkit-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
        opacity: 1;
    }
    95% {
        -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes swapRightOut {
    5% {
        -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
        opacity: 1;
    }
    35% {
        -webkit-transform:  translate3d(180px, 0px, -400px) rotateY(-20deg);
        opacity: .5;
    }
    95% {
        -webkit-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
        opacity: 0;
    }
}

/* Swap Left */

.swapleft {
    -webkit-animation-duration: .7s;
    -webkit-transform: perspective(800);
    -webkit-animation-timing-function: ease-out;
}
.swapleft.in {
    -webkit-animation-name: swapLeftIn;
}
.swapleft.out {
    -webkit-animation-name: swapLeftOut;
}

@-webkit-keyframes swapLeftIn {
    0% {
        opacity: 0;
    }
    5% {
        -webkit-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
        opacity: 0;
    }
    35% {
        -webkit-transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
        opacity: 1;
    }
    95% {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
    }
}

@-webkit-keyframes swapLeftOut {
    5% {
        -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
        opacity: 1;
    }
    35% {
        -webkit-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
        opacity: .5;
    }
    95% {
        -webkit-transform:  translate3d(0px, 0px, -800px) rotateY(70deg);
        opacity: 0;
    }
}


/* Cubes */
/* Cube Left */

/* Unfortunately, to acheive a proper cube effect,
// we need the page width. Assuming 320px here.
*/
.cubeleft.in,.cubeleft.out,.cuberight.in,.cuberight.out{
    -webkit-animation-duration: .6s;
    -webkit-transform: perspective(800);
}
.cubeleft.in {
    -webkit-transform-origin: 0% 50%;
    -webkit-animation-name: cubeLeftIn;
}

.cubeleft.out {
    -webkit-transform-origin: 100% 50%;
    -webkit-animation-name: cubeLeftOut;    
}

@-webkit-keyframes cubeLeftIn {
    0% {
        opacity: 0;
    }
    5% {
        -webkit-transform: rotateY(90deg) translateZ(320px);
        opacity: .5;
    }
    95% {
        -webkit-transform: rotateY(0deg) translateZ(0) translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes cubeLeftOut {
    5% {
        -webkit-transform: rotateY(0deg) translateZ(0) translateX(0);
        opacity: 1;
    }
    95% {
        -webkit-transform: rotateY(-90deg) translateZ(320px);
        opacity: .5;
    }
}

/* Cube Right */

.cuberight.in {
    -webkit-transform-origin: 100% 50%;
    -webkit-animation-name: cubeRightIn;
}

.cuberight.out {
    -webkit-transform-origin: 0% 50%;
    -webkit-animation-name: cubeRightOut;    
}

@-webkit-keyframes cubeRightIn {
    0% {
        opacity: 0;
    }
    5% {
        -webkit-transform: rotateY(-90deg) translateZ(320px);
        opacity: .5;
    }
    95% {
        -webkit-transform: rotateY(0deg) translateZ(0) translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes cubeRightOut {
    5% {
        -webkit-transform: rotateY(0deg) translateZ(0) translateX(0);
        opacity: 1;
    }
    95% {
        -webkit-transform: rotateY(90deg) translateZ(320px);
        opacity: .5;
    }
}


.xo_ani_slideleft,.xo_ani_slideright{-webkit-transform-origin:transform-origin:100% 100%;}
.xo_ani_slideleft.in{-webkit-animation-name:phoneSlideIn;animation-name:phoneSlideIn}
.xo_ani_slideleft.out{-webkit-animation-name:phoneSlideOut;animation-name:phoneSlideOut}
.xo_ani_slideright.in{-webkit-animation-name:phoneSlideBackIn;animation-name:phoneSlideBackIn}
.xo_ani_slideright.out{-webkit-animation-name:phoneSlideBackOut;animation-name:phoneSlideBackOut}
.xo_ani_coverup,.xo_ani_coverdown{-webkit-transform-origin:50% 100%;transform-origin:50% 100%;}
.xo_ani_coverdown.in{-webkit-animation-name:phoneCoverIn;animation-name:phoneCoverIn}
.xo_ani_coverdown.out{-webkit-animation-name:phoneCoverOut;animation-name:phoneCoverOut}
.xo_ani_coverup.in{-webkit-animation-name:phoneCoverBackIn;animation-name:phoneCoverBackIn}
.xo_ani_coverup.out{-webkit-animation-name:phoneCoverOutBack;animation-name:phoneCoverOutBack}
@-webkit-keyframes phoneSlideOut{
    0%{-webkit-transform:translateZ(0);}
    100%{-webkit-transform:rotateY(-15deg);opacity:.25;}
}
@keyframes phoneSlideOut{
    0%{transform:translateZ(0);}
    100%{transform:rotateY(-15deg);opacity:.25;}
}
@-webkit-keyframes phoneSlideIn{
    0%{-webkit-transform:translateX(110%);}
    100%{-webkit-transform:translateX(0);}
}
@keyframes phoneSlideIn{
    0%{transform:translateX(110%);}
    100%{transform:translateX(0);}
}
@-webkit-keyframes phoneSlideBackOut{
    0%{-webkit-transform:translateX(0);}
    100%{-webkit-transform:translateX(110%);
}
@keyframes phoneSlideBackOut{
    0%{transform:translateX(0);}
    100%{transform:translateX(110%);
}
@-webkit-keyframes phoneSlideBackIn{
    0%{-webkit-transform:rotateY(-15deg);opacity:.25;}
    100%{-webkit-transform:translateZ(0);}
}
@keyframes phoneSlideBackIn{
    0%{transform:rotateY(-15deg);opacity:.25;}
    100%{transform:translateZ(0);}
}
@-webkit-keyframes phoneCoverOut{
    0%{-webkit-transform:translateZ(0);}
    100%{-webkit-transform:rotateX(15deg);opacity:.25;}
}
@keyframes phoneCoverOut{
    0%{transform:translateZ(0);}
    100%{transform:rotateX(15deg);opacity:.25;}
}
@-webkit-keyframes phoneCoverIn{
    0%{-webkit-transform:translateY(110%);}
    100%{-webkit-transform:translateY(0);}
}
@keyframes phoneCoverIn{
    0%{transform:translateY(110%);}
    100%{transform:translateY(0);}
}
@-webkit-keyframes phoneCoverOutBack{
    0%{-webkit-transform:translateY(0);}
    100%{-webkit-transform:translateY(110%);}
}
@keyframes phoneCoverOutBack{
    0%{transform:translateY(0);}
    100%{transform:translateY(110%);}
}
@-webkit-keyframes phoneCoverBackIn{
    0%{-webkit-transform:rotateX(15deg);opacity:.25;}
    100%{-webkit-transform:translateZ(0);}
}
@keyframes phoneCoverBackIn{
    0%{transform:rotateX(15deg);opacity:.25;}
    100%{transform:translateZ(0);}
}