/*===== RESET =====*/
*{
    margin:0;
    padding:0;
    border:0 none;
    background:transparent;
    vertical-align:baseline;
}
html{-webkit-text-size-adjust:none;overflow:hidden;}
html,body{display: block;height:100%;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}

body{
    -webkit-text-size-adjust:none;
    -webkit-user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-touch-callout:none;
    word-break:break-word;
    color:#666;
    min-width: 320px;
    margin:0 auto;
    position: relative;
}

body,input,button,select,textarea,table{
    font:14px/1.5 Helvetica,Arial,sans-serif;
}

li{list-style:none;}

input,select,textarea{
    -webkit-user-select:auto;
    -webkit-appearance:none;
}

a{
    color:#666;
    text-decoration:none;
}
    

h1{font-size:20px;}
h2,h3,h4,h5,h6{font-size:14px;}

*, ::after, ::before {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}
::-webkit-input-placeholder {
    color: #E0E0E0;
}
input, textarea{
    -webkit-user-select: text;
    outline:none;
}

/*===== S 页面框架 =====*/
.xo_page,.xo_page_inner{
    position:absolute;
    left:0;
    top:0;
    bottom: 0;
    right:0;
    overflow: hidden;
    z-index: 10;
    /*
    -webkit-transition-property: -webkit-transform;
    -webkit-transform-origin-x: 0;
    -webkit-transform-origin-y: 0;
    -webkit-transition-duration: 0ms;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    */
}
.xo_page_inner{
    background-color: #fff;
}
.xo_section {
    position: absolute;
    left: 0;
    right: 0;
    top: 51px;
    bottom: 0;
}
/* 无header页面 */
.xo_page1 .xo_section{
    top:0;
}
.xo_scroll {
    overflow: auto; 
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
.xo_scrollx {
    overflow-y: hidden;
}
.xo_scrolly {
    overflow-x: hidden;
}

.xo_mask{
    position:absolute;
    z-index: 11;
    left:0;
    right:0;
    top:0;
    bottom:0;
    overflow: hidden;
    -webkit-backface-visibility:hidden;
}

.xo_page,.xo_section,.xo_aside,.xo_popup{display: none;}
.current,.inmotion{display: block!important;}
.current{z-index: 11;}
.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}
.hide{
    display: none!important;
}

/* animating style 动画进行中的样式处理 
===========================================*/
.animating .xo_scroll{overflow: hidden;}