body{
    -webkit-text-size-adjust:100%;
    -webkit-user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-touch-callout:none;
    word-break:break-word;
}
input,select,textarea{
    -webkit-user-select:auto;
    -webkit-appearance:none;
}
*, ::after, ::before {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}
input, textarea{
    -webkit-user-select: text;
    outline:none;
}
.content-pullin{
    padding:10px;
}
.v-center{
    position:relative;
    top:50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -o-transform:translateY(-50%);
}
/*===== S 页面框架 =====*/
.xpage,.xpage_inner{
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    overflow: hidden;
    z-index: 8;
    /*
    -webkit-transition-property: -webkit-transform;
    -webkit-transform-origin-x: 0;
    -webkit-transform-origin-y: 0;
    -webkit-transition-duration: 0ms;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    */
}
.xpage_inner{
    background-color: #fff;
}
.xsection {
    position: absolute;
    left: 0;
    right: 0;
    top: 51px;
    bottom: 0;
}
/* 无header页面 */
.xpage1 .xsection{
    top:0;
}
.xscroll {
    overflow: auto; 
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
.xscrollx {
    overflow-y: hidden;
}
.xscrolly {
    overflow-x: hidden;
}

.xmask{
    position:absolute;
    z-index: 11;
    left:0;
    right:0;
    top:0;
    bottom:0;
    overflow: hidden;
    -webkit-backface-visibility:hidden;
}

.xpage,.xsection,.xaside,.xpopup{display: none;}
.current,.inmotion{display: block!important;}
.current{z-index: 9;}

.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.hide{
    display: none!important;
}
