.bar .icon{
    padding:5px;
    margin-top:5px;
    font-size:26px;
    margin-right:-5px;
}
.navigate-right .media-object{
    max-width:25%;
}
.media-body h3{
    font-size:18px;
    font-weight:normal;
}
h1 .icon,h2 .icon,h3 .icon,h4 .icon{
    color:#777;
}
